{% extends "base.html" %}
{% block title %}
about
{% endblock title %}
{% block body %}
<h1 class="text-center" style="color: rgb(11, 114, 104);">ABOUT PAGE</h1>
<br>
<br>
<hr>
<div class="row-container">
    <p class="fs-4 text-center">Especially one that starts with “I was born in good ol’ Madison, Wisconsin. The son of a Librarian and a Researcher.”

        It also goes on to tell you how he and his family survived Hurricane Andrew and how his sister was born that night.
        
        Who is this guy?
        
        Blake Fili Suárez is an illustrator and designer with a fantastic sense of humor.
        
        His quirkiness comes through thanks to his humorous tone and goofy picture.
        
        The page, while minimalist in design, offers a glimpse into Suárez’s colorful personality and his impressive block of work.</p>
</div>
{% endblock body %}