<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <table>
    <<h1>hello</h1>
    <h1>{{cart.email}}</h1>
    <h1>{{cart.product}}</h1>
    </table> -->
    <div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>product name</th>
                <th>quantity</th>
                <th>price</th>
                <th>status</th>
                <th>ordered date</th>
                
                
            </tr>
        </thead>
        <tbody>
            
        <td>{{order.product_name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.price}}</td>
        <td>{{order.status}}</td>
        <td>{{order.ordered_date}}</td>
     </tbody>

    </table>
    </div>
</body>
</html>